<!-- Modal start here -->
<div class="modal fade" id="doctorConsultTimeModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Doctor Consultation Time</h4>
				<div class="alert alert-success alert-dismissable smap-com-modal-alert">
				  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>  
				  <div id="smap-com-modal-alert-msg"> <!-- Message Content --></div>
				</div>  
			</div>
			<!-- Modal Body -->
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="dr-consult-time-form">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label class="col-sm-4 control-label" for="drConsultType">Consultation
									Type </label>
								<div class="col-sm-8">
									<input class="form-control inp-dt-switch"
										data-on-text="Repeat Days" data-off-text="Single Day"
										type="checkbox" name="consultType" id="drConsultType" checked>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label" for="drConsultStartDate" id="drConsultStartDateLabel">
									Date Range </label>
								<div class="col-sm-4">
									<input type="text" class="form-control inp-dt-date-picker" id="drConsultStartDate"
										name="startDate" placeholder="Start Date" />
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control  inp-dt-date-picker" id="drConsultEndDate"
										name="endDate" placeholder="End Date" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label" for="drConsultStartTime">
									Consultation Time </label>
								<div class="col-sm-4">
									<input type="text" class="form-control inp-dt-time" id="drConsultStartTime"
										name="startTime" placeholder="Start Time" value="" />
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control inp-dt-time" id="drConsultEndTime"
										name="endTime" placeholder="End Time" value="" />
								</div>
							</div>
							<div class="form-group" id="drConsultWeekDaysHolder">
								<label class="col-sm-4 control-label">Week days</label>
								<div class="col-sm-8">
									<label class="checkbox-inline"><input type="checkbox"  name="drConsultWeekDays" value="0" />Monday</label>
									<label class="checkbox-inline"><input type="checkbox"  name="drConsultWeekDays" value="1" />Tuesday</label> 
									<label class="checkbox-inline"><input type="checkbox"  name="drConsultWeekDays" value="2" />Wednesday</label> 
									<label class="checkbox-inline"><input type="checkbox"  name="drConsultWeekDays" value="3" />Thursday</label>
									<label class="checkbox-inline"><input type="checkbox"  name="drConsultWeekDays" value="4" />Friday</label> 
									<label class="checkbox-inline"><input type="checkbox"  name="drConsultWeekDays" value="5" />Saturday</label>
									<label class="checkbox-inline"><input type="checkbox"  name="drConsultWeekDays" value="6" />Sunday</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label" for="drConsultFee">
									Fee </label>
								<div class="col-sm-6">
									<input type="text" class="form-control  inp-dt" id="drConsultFee"
										name="fee" placeholder="Consultation Fee" maxlength="5"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label" for="drConsultComments">Comments
								</label>
								<div class="col-sm-6">
									<textarea rows="4" class="form-control inp-dt" id="drConsultComments"
										name="comments" placeholder="Comments" maxlength="250"></textarea>
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" class="inp-dt" name="id" id="drConsultTimeId" value="0" > 
				</form>
			</div>
			<!-- Modal Footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>					
				<button type="button" class="btn btn-primary" id="saveDrConsultTimeBtn">Save</button>
				<button type="button" class="btn btn-default" id="resetDrConsultTimeBtn">Reset</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal  ends here -->