.navbar-brand{
	padding: 5px;
}
.navbar-brand>img{
	display:inline-block;
	vertical-align:middle;
	max-height:100%;
	margin-right: 10px;
}
.navbar-brand span {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
}
.panel-default{
	border-radius:0;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #eee;
    border-radius:0;
}
.btn-default{
	background: #AB1E23;
	color:#fff;
	border:none;
}