<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IPL </title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/lib/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="../../assets/lib/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="../../assets/lib/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .select2-container{
    	width:175px!important;
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
                <a class="navbar-brand" href="index.html"><img src="../../assets/img/logo-inapp.png"/><span>Premier League</span> </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                             <a href="matches.html"> Matches</a>
                    </li>
                    <li>
                        <a href="team.html">Team</a>
                    </li>
                    <li>
                        <a href="statistics.html">Statistics</a>
                    </li>  
                     <li>
                        <a href="gallery.html">Gallery</a>
                    </li>                      
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
     <!-- Above Common area -->

    <!-- Page Content -->
    <div class="container">


        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" id="teamTitle">Team : Mad Catz</h2>
                <div class="form-group">
					<label for="exampleInputName2">&nbsp;&nbsp;</label> 
					<select id="selectTeam">
						<option value="-1">Select Team</option>
						<option value="1">Mad Catz</option>
						<option value="2">Win Gaurus</option>
						<option value="3">Meduza</option>
						<option value="4">Theeppori Bros</option>
						<option value="5">Dragons</option>
					</select>
				</div>
            </div>
            <div id="teamContrainer">
            
            </div>
        </div>

        <hr>

     <!-- Below Common area -->
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">    <p>  &copy;  2016 InApp Inc. All rights reserved.</p> </div>			
               
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script type="text/javascript" src="../../assets/lib/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="../../assets/lib/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="../../assets/lib/js/select2.full.min.js"></script>
    <script type="text/javascript" src="../../assets/js/app.js"></script>

     <script type="text/javascript" src="../../assets/js/common.js"></script>
    
        <!-- Below Common area ends here  -->
    
    <script type="text/javascript" src="js/team.js"></script>
 

</body>

</html>
